* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column; 
    background-color: rgba(81, 12, 255, 255);
}

header h1 {
    text-align: center;
    color: #ffffff;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main img {
    border: 4px solid #0087f5;
}

main button {
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background-color: #0087f5;
    margin-top: 5px;
    padding: 10px 20px;
    transition: ease-in-out 0.3s;
}

main button:hover {
    background-color: #005bb5;
    transform: scale(1.0);
}

main {
    margin-top: 50px;
}

footer p {
    padding: 10px;
    font: normal 10pt arial;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

